<p id="notice"><%= notice %></p>

<h1 class='beer-header'>
  <i class="fa fa-beer beer-icon text-warning"></i>Edit <%= beer.name.titleize %>
  <%= link_to 'Back', beers_path, class: 'btn btn-primary btn-sm', style: 'float: right; margin-top: 7px;' %>
</h1>

<%= render 'form', beer: beer %>
